
/* 暗色模式样式 */
:global(.defaultDark) {
	.coreStatusIcon {
		background-color: transparent!important;
	}
	.coreStatusCard {
		background-color: #1e293b;
	}
	
	.coreStatusCardSuccess {
		position: relative;
		background-color: transparent;
		border: 2px solid #818cf8;
	}
	.coreStatusIconSuccess {
		position: relative;
		background-color: transparent !important;
		:global(.n-icon) {
			svg,
			svg path {
				fill: #818cf8;
			}
		}
	}
	
	.coreStatusLabelSuccess {
		color: #818cf8 !important;
	}
	
	.coreStatusCardError {
		position: relative;
		border: none !important;
		background-color: transparent !important;
		
		&::before {
			content: '';
			position: absolute;
			inset: 0;
			border-radius: 0.75rem;
			padding: 2px;
			background: var(--n-error-primary-color);
			-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
			mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
			mask-composite: exclude;
			pointer-events: none;
			z-index: 0;
		}
	}
	.coreStatusIconError {
		background-color: transparent !important;
		:global(.n-icon) {
			svg,
			svg path {
				fill: var(--n-error-primary-color) !important;
			}
		}
	}
	
	.coreStatusTextError {
		color: #e1e1e1 !important;
	}

	.coreStatusLabelError {
		color: var(--n-error-primary-color) !important;
	}
	
	.headerIcon {
		svg,
		svg path {
			fill: #818cf8;
		}
	}
}

